.u-section-1 .u-sheet-1 {
  min-height: 2101px;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 39px 60px -39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 822px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3429px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}